@model ErrorViewModel
@{ ViewData["Title"] = "Error"; }

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>

<h3>Exception Details</h3>
<div class="alert alert-dangee">
    <h5>Exception Path</h5>
    <hr/>
    <p>@Model.ExceptionPath</p>
</div>

<div class="alert alert-dangee">
    <h5>Exception Message</h5>
    <hr />
    <p>@Model.ExceptionMessage</p>
</div>

<div class="alert alert-dangee">
    <h5>Exception Stack Trace</h5>
    <hr />
    <p>@Model.StackTrace</p>
</div>