@model IEnumerable<HealthCheckResultViewModel>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.HealthCheckTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Result)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.HealthCheckTime)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Result)
    </td>
</tr>}
    </tbody>
</table>